.navbar-top {
	background: silver;
	ul {
		display: block;
		overflow: hidden;

		li{
			display: inline;
			list-style: none;
				a {
					display: block;
					float: left;
					padding: 5px 10px;
					font-size: 1.4em;
					text-decoration: none;
				}
		}		
	}
}