<h1>Categorias</h1>

	<ul>
		<% @categories.each do |category| %>
			<li>
				<a href="/categorias/<%= category.id %>">
					<%= category.id %> - <%= category.name %>
				</a>
			</li>
		<% end %>
	</ul>
