<h1>Exibindo detalhes da Categoria</h1>

<p>Nome: <%= @category.name %></p>
<p>Status: <%= show_status(@category.status) %></p>
<p>Created_at: <%= @category.created_at %></p>
<p>Updated_at: <%= @category.updated_at %></p>