.form-inline {
	&.form-inline-custom {
		display: block;
		margin-bottom: 20px;
		label {
			display: block;
		}

		span {
			label {
				margin-right: 15px;
				input {
					margin-right: 5px;
					margin-left: 5px;
				}
			}
		}
	}
}
